@{
    ViewBag.Title = "Login";
}
@model WebApplication1.Models.Signup
<section>
    <div id="container_demo">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="~/images/img-01.png" alt="IMG">
            </div>

            <form action="http://localhost:2231/home/checkuser" autocomplete="on"  class="login100-form validate-form" method="post">
                <span class="login100-form-title">
                    Member Login
                </span>

                <div class="wrap-input100 validate-input" data-validate="Username is required">
                    <input id="Username" class="input100" type="text" name="Username" placeholder="Username">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input id="Password" class="input100" type="Password" name="password" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <input type="submit" class="login100-form-btn" value="Login"/>
                </div>

                <div class="text-center p-t-136">
                    
                </div>
            </form>
          
        </div>   
 
    </div>
</section>